<div class="row">
  <div class="text-center">
    <h2 class="text-2xl font-bold  mb-4 border-b-4 border-b-gray-300">Hello, {{logged_user_Name}}!</h2>
    <div class="text-3xl font-bold mb-4">Find Gig details below!</div>
    <span id="spanGigId" style="display:none">{{id}}</span>
    <div class="border-2 border-indigo-700 bg-indigo-700 text-white py-2 w-auto font-semibold rounded-t-md"><h2>{{title}}</h2></div>
    <hr>
      {{!-- <p>{{{get_emoji}}}</p> --}}
      <div class="w-auto p-6 shadow-lg bg-gray-400 rounded-b-md">
      <p class="mb-3">{{details}}</p>
      <p class="mb-2">
        {{!-- <span for="img" aria-label="money">💲</span> --}}
        <span class="font-bold">Needed by {{format_date target_avail_date}}</span>
      </p>
      <p class="mb-3">Created by {{user.username}} on {{format_date createdAt}}</p>
      {{#if win_bid_date}}
      <p class="mb-3">Accepted Date:  {{format_date win_bid_date}}</p>
      {{/if}}
      <div>
        {{#each bids as |bid| }}
        {{#if is_winning_bid }}
          <div class="w-auto p-6 shadow-lg bg-green-400 rounded-md my-3 text-left">
        {{else}}
          <div class="w-auto p-6 shadow-lg bg-blue-400 rounded-md my-3 text-left">
        {{/if}}
            <div>
              Details: {{bid.details}}
            </div>
            <div>
              Charge: {{format_amount bid.bid_amt}}
            </div>
            <div>
              Available Date: {{format_date bid.avail_date}}
            </div>
            <div class="font-bold">
              Bidder Name: {{bid.user.username}}
          </div>
            {{#if (eq ../poster_id ../logged_user_id)}}
              {{#if ../activeBidButtons}}
                <div>
                  <button id="btnAcceptBid" class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-auto rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold" onclick="acceptBid({{bid.id}});">Accept this bid!</button>      
                </div>
              {{/if}}
            {{/if}}
          </div>
        {{/each}}
      </div>
      {{#if activeBidButtons}}
        {{#if (not_eq poster_id logged_user_id)}}
          <p>
            <button id="btnCreateBid" onclick="createBid({{id}});" class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-28 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold">Bid for this Gig!</button>
          </p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/gig.js"></script>