<!-- Loop over each object in the projects array -->
{{!-- <div class="grid h-screen place-items-center"> --}}
<div>
  {{#each gigs as |gig| }}
      <div class="border-2 border-indigo-700 pl-3 bg-indigo-700 text-white py-2 w-auto font-semibold rounded-t-md">
        <a class="hover:text-red-300" href="/gig/{{gig.id}}">{{gig.title}}</a>
      </div>
      <hr>
  <div class="w-auto p-6 shadow-lg bg-green-400 rounded-b-md mb-5">
    <div class="mb-4">
      <p>
        {{gig.details}}
      </p>
    </div>
    
    <div class="bg-green-300 pl-1">
      <p class="mb-2">
        <span class="font-bold">Needed by {{format_date gig.target_avail_date}}</span>
      </p>
      {{!-- <p>Created by {{gig.user.username}}</p> --}}
      <p>Created by {{gig.user.username}} on {{format_date gig.createdAt}}</p>
    </div>
  </div>
  {{/each}}
</div>