<div class="row">
  <div class="col-auto">
    {{!-- <h2>Welcome, {{username}}!</h2> --}}
    <h2 class="text-2xl font-bold  mb-4 border-b-4 border-b-gray-300">Welcome {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="w-96 p-6 shadow-lg bg-gray-400 rounded-md">
    <h1 class="text-3xl block text-center font-semibold"><i class="fa-solid fa-user"></i>Create a New Gig</h1>

    <form class="form new-gig-form">
      <div class="form-group mt-5">
        <label for="gig-name" class="block text-base mb-1 ">Gig name:</label>
        <input class="form-input border w-full text-base ps-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600" type="text" id="gig-name" name="gig-name" />
      </div>
      <div class="form-group mt-5">
        <label for="gig-target-date" class="block text-base mb-1 ">Gig target date</label>
        <input class="form-input border w-full text-base ps-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600" type="date" id="gig-target-date" name="gig-target-date" />
      </div>
      <div class="form-group mt-5">
        <label for="gig-details" class="block text-base mb-1 ">Gig details:</label>
        <textarea class="form-input border w-full text-base ps-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600" id="gig-details" name="gig-details"></textarea>
      </div>
      <div class="form-group mt-5">
        <button class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 px-5 w-full rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold type="submit"">Create Gig</button>
      </div>
    </form>
  </div>

  {{#if gigs.length}}
  <div>
    <h3>Current Gigs:</h3>

    {{#each gigs as |gig|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/api/gigs/{{gig.id}}">{{gig.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{gig.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
